@charset "UTF-8";

body {
    color: #333333;
    font-family: "Hiragino Kaku Gothic Pro", Meiryo, "MS PGothic", Helvetica,
        Arial, sans-serif;
}

#header {
    width: 100%;
    height: 70px;
    background-color: #333333;
}

#content {
    width: 94%;
    margin-top: 15px;
    padding-left: 3%;
}

h1 {
    font-size: 24px;
    display: inline;
}

h2 {
    font-size: 36px;
    margin-bottom: 15px;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #24738e;
}

table, tr, th, td {
    border: 1px solid #cccccc;
}

table {
    width: 100%;
    table-layout: fixed;
}

th {
    width: 26%;
    padding: 10px 2%;
}

td {
    width: 66%;
    padding: 10px 2%;
}

button {
    font-size: 14px;
    padding: 5px 10px;
}

#footer {
    text-align: center;
}

#flush_success {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #155724;
    background-color: #d4edda;
}

#flush_error {
    width: 100%;
    padding-top: 28px;
    padding-left: 2%;
    padding-bottom: 28px;
    margin-bottom: 15px;
    color: #721c24;
    background-color: #f8d7da;
}

table#user_list th {
    width: 30%;
    padding: 10px 2%;
}

table#user_list td {
    width: 29%;
    padding: 10px 2%;
}

tr.row1 {
    background-color: #f2f2f2;
}

tr.row0 {
    background-color: #ffffff;
}

select {
    height: 30px;
}

#header_menu {
    width: 57%;
    padding-top: 17px;
    padding-left: 3%;
    display: inline-block;
}

#user_name {
    color: #cccccc;
    width: 36%;
    padding-right: 3%;
    text-align: right;
    display: inline-block;
}

#header a {
    color: #eeeeee;
}

h1 a {
    color: #eeeeee;
}

table#material_list th {
    font-weight: bold;
    padding: 10px 2%;
}

table#material_list .material_name {
    width: 20%;
    padding: 10px 2%;
}

table#material_list .material_unit {
    width: 20%;
}

table#materialMaster_list_search th {
    font-weight: bold;
    padding: 10px 2%;
}

table#materialMaster_list_search .material_name {
    width: 20%;
    padding: 10px 2%;
}

table#materialMaster_list_search .material_unit {
    width: 20%;
}

table#cooking_list th {
    font-weight: bold;
    padding: 10px 2%
}

table#cooking_list .cooking_name {
    width: 30%;
    padding: 10px 2%;
}

table#cooking_list .cooking_date {
    width: 20;
}

table#cooking_list .cooking_action {
    width: 20%;
}

table#cooking_list_search th {
    font-weight: bold;
    padding: 10px 2%
}

table#cooking_list_search .cooking_name {
    width: 30%;
    padding: 10px 2%;
}

table#cooking_list_search .cooking_action {
    width: 20%;
}

table#material_list_search th {
    font-weight: bold;
    padding: 10px 2%
}

table#material_list_search .cooking_name {
    width: 30%;
    padding: 10px 2%;
}

table#material_list_search .cooking_action {
    width: 20%;
}

.cooking_material {
    width: 50%;
}

.cooking_material_input {
    width: 600px;
    max-width: 100%;
}

.material_show {
    display: inline-block;
    padding: 10px 0;
}

.material_tentatives {
    width: 600px;
    max-width: 100%;
}

.material_tentative{
    display: inline-block;
}
input.material_input {
    width: 40px;
}

table#menu_list th {
    font-weight: bold;
    padding: 10px 2%
}

table#menu_list .menu_startDate {
    width: 20%;
}

table#menu_list .menu_endDate {
    width: 20%;
}

table#cooking_list .menu_cooking {
    width: 20%;
}

table#cooking_list .menu_topPage {
    width: 10%;
}

table#cooking_list .menu_action {
    width: 10%;
}

h3 {
    font-size: larger;
}

hr {
    height: 0;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 0;
    border: 0;
    border-top: 1px solid #000000;
}

.top_menus h2 {
    font-weight: 600;
    font-size: 40px;
    margin-bottom: 15px;
}

.top_menus h3 {
    font-size: 33px;
}

.top_menu_date {
    font-size: 20px;
}

.top_menu {

    display: flex;
}

.top_menu_morning {
    font-size: 20px;
}

.top_menu_noon {
    padding-left: 20%;
    font-size: 20px;
}

.top_menu_evening {
    padding-left: 20%;
    font-size: 20px;
}

.menu_show{
     display: flex;
}


.cookingSlave_noon {
    padding-left: 10%;
}

.cookingSlave_evening {
    padding-left: 10%;
}

input.cookingSlave_amount_input {
    width: 40px;
}

.menu_edit_cooking{
    display: flex;
}

.menu_edit_moring{

    display: flex;
    flex-direction: column;

}


.menu_edit_noon{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.menu_edit_evening{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.menu_edit{
    display: flex;
}
.menu_next{
    display: flex;
}

.menu_next_morning{
    display: flex;
    flex-direction: column;
}

.menu_next_noon{
    display: flex;
    flex-direction: column;
    padding-left: 3%;
}

.menu_next_evening{
    display: flex;
    flex-direction: column;
    padding-left: 3%;

}

.menu_next_cooking{
    display: flex;
}

